{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{%block extra_css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<style>
  tbody > tr > td {
    white-space: nowrap;
    }
</style>
{%endblock extra_css %}

{% block extra_content %}
<div class="mx-4 px-4">
    <h4 class='py-2'>蜂蜜_采集人信息</h4>
    <div class="row mx-lg-n5 px-4">
        <table class="table" id="honey_collector_table"  width="100%">
        <thead id="main-header">
            <tr>
                <th>采集人编号</th>
                <th>采集人</th>
                <th>联系电话</th>
                <th>邮箱</th>
                <th>地址</th>
                <th>采集人备注</th>
            </tr>
        </thead>
        {% for h in  honey_collector %}
        <tr>
            <td>{{h.honey_collector_code}}</td>
            <td>{{ h.honey_collector}}</td>
            <td>{{h.collector_phone}}</td>
            <td>{{ h.collector_email}}</td>
            <td>{{h.collector_address}}</td>
            <td>{{ h.collector_note}}</td>
            </tr>
        {% endfor %}
        <tfoot id='main-footer'>
            <tr>
            <th>honey_collector_code</th>
            <th>honey_collector</th>
            <th>collector_phone</th>
            <th>collector_email</th>
            <th>collector_address</th>
            <th>collector_note</th>
            </tr>
        </tfoot>
        </table>
    </div>

    <h4 class='py-2'>蜂蜜_成份</h4>
    <div class="row mx-lg-n5 px-4">
        <table class="table" id="honey_ingredients_table"  width="100%">
        <thead id="main-header">
            <tr>
                <th>蜂蜜编号</th>
                <th>成份物种名</th>
                <th>成份物种中文名</th>
                <th>丰度百分比</th>
            </tr>
        </thead>
        {% for h in honey_ingredients %}
        <tr>
            <td>{{h.honey_sample_id}}</td>
            <td>{{ h.taxon_species}}</td>
            <td>{{h.taxon_species_chinese}}</td>
            <td>{{ h.abundance_percentage}}</td>
        </tr>
        {% endfor %}
        <tfoot id='main-footer'>
            <tr>
            <th>honey_sample_id</th>
            <th>taxon_species</th>
            <th>taxon_species_chinese</th>
            <th>abundance_percentage</th>
            </tr>
        </tfoot>
        </table>
    </div>

    <h4 class='py-2'>蜂蜜_物种参考基因组</h4>
    <div class="row mx-lg-n5 px-4">
        <table class="table" id="honey_refgenome_table"  width="100%">
        <thead id="main-header">
            <tr>
                <th>分类编号</th>
                <th>界</th>
                <th>界_中文</th>
                <th>门</th>
                <th>门_中文</th>
                <th>纲</th>
                <th>纲_中文</th>
                <th>目</th>
                <th>目_中文</th>
                <th>科</th>
                <th>科_中文</th>
                <th>属</th>
                <th>属_中文</th>
                <th>种</th>
                <th>种_中文</th>
                <th>参考基因组类型</th>
                <th>数据来源</th>
            </tr>
        </thead>
        {% for h in  honey_refgenome %}
        <tr>
            <td>{{h.taxon_id}}</td>
            <td>{{ h.taxon_kingdom}}</td>
            <td>{{h.taxon_kingdom_chinese}}</td>
            <td>{{ h.taxon_phylum}}</td>
            <td>{{h.taxon_phylum_chinese}}</td>
            <td>{{ h.taxon_class}}</td>
            <td>{{h.taxon_class_chinese}}</td>
            <td>{{ h.taxon_order}}</td>
            <td>{{h.taxon_order_chinese}}</td>
            <td>{{ h.taxon_family}}</td>
            <td>{{h.taxon_family_chinese}}</td>
            <td>{{ h.taxon_genus}}</td>
            <td>{{h.taxon_genus_chinese}}</td>
            <td>{{ h.taxon_species}}</td>
            <td>{{h.taxon_species_chinese}}</td>
            <td>{{ h.genomic_reference}}</td>
            <td>{{ h.data_origin}}</td>
            </tr>
        {% endfor %}
        <tfoot id='main-footer'>
            <tr>
            <th>taxon_id</th>
            <th>taxon_kingdom</th>
            <th>taxon_kingdom_chinese</th>
            <th>taxon_phylum</th>
            <th>taxon_phylum_chinese</th>
            <th>taxon_class</th>
            <th>taxon_class_chinese</th>
            <th>taxon_order</th>
            <th>taxon_order_chinese</th>
            <th>taxon_family</th>
            <th>taxon_family_chinese</th>
            <th>taxon_genus</th>
            <th>taxon_genus_chinese</th>
            <th>taxon_species</th>
            <th>taxon_species_chinese</th>
            <th>genomic_reference</th>
            <th>data_origin</th>
            </tr>
        </tfoot>
        </table>
    </div>

    <h4 class='py-2'>蜂蜜_样品</h4>
    <div class="row mx-lg-n5 px-4">
        <table class="table" id="honey_sample_table"  width="100%">
        <thead id="main-header">
            <tr>
                <th>简要采集地信息</th>
                <th>周边环境</th>
                <th>经度</th>
                <th>纬度</th>
                <th>海拔</th>
                <th>蜂种</th>
                <th>蜂蜜类型</th>
                <th>样本备注</th>
            </tr>
        </thead>
        {% for h in  honey_collector %}
        <tr>
            <td>{{h.exact_site}}</td>
            <td>{{ h.surrounding_environment}}</td>
            <td>{{h.longitude}}</td>
            <td>{{ h.latitude}}</td>
            <td>{{h.altitude}}</td>
            <td>{{ h.honey_bee_origin}}</td>
            <td>{{h.honey_type}}</td>
            <td>{{ h.honey_sample_note}}</td>
            </tr>
        {% endfor %}
        <tfoot id='main-footer'>
            <tr>
            <th>exact_site</th>
            <th>surrounding_environment</th>
            <th>longitude</th>
            <th>latitude</th>
            <th>altitude</th>
            <th>honey_bee_origin</th>
            <th>honey_type</th>
            <th>honey_sample_note</th>
            </tr>
        </tfoot>
        </table>
    </div>

</div>
    
         
          
     
{% endblock %}

    {%block extra_js%}
<!-- 百度 -->
<script src="http://api.map.baidu.com/api?v=2.0&ak=aQHQI6ayhXfuRjIC7A5PCDaN50FZ0zON"></script>
<!-- echarts -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<!-- 扩展地图插件 -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>

<!-- jsTree/jQuery -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

 <script src=" https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js "></script>

<link rel="stylesheet" href=" https://cdn.datatables.net/fixedcolumns/4.0.1/css/fixedColumns.dataTables.min.css" />


 <script>
    // 设置honey_collector_table
    $('#honey_collector_table tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input class="form-control" type="text" placeholder="Search ' + title + '" />');
    });

    var table = $('#honey_collector_table').DataTable()
    table.destroy()     // this is for redraw datatable

    var table = $('#honey_collector_table').DataTable({
        "scrollX":true,
        "autoWidth": false,
        "fixedColumns":  true,
        "retrieve":true,    // this is for redraw datatable
        "columnDefs": [
                        { width: "10%", targets: [0,1] },
                        {orderable: true,},
                        {defaultContent: "-",targets: "_all"},    // defaultContent is important
                        {
                            "targets": 0,
                            "data": 0,
                            "render": function ( data, type, full, meta ) {
                            return '<a href="'+data+'">'+data+'</a>';
                            }
                        }
                        ],     
        "dom":'Bfrtip',
        "paging": true,
        initComplete: function(){
            // 设置datatable的每一列的搜索功能
            this.api()
            .columns([1,3,4])
            .every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });

                var column = this;
                var select = $('<select class="form-control" placeholder="Search ' + this.value + '"><option value=""></option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex($(this).val());

                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                    });

                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
            });
            }, // end of initComplete
    });    // 设置honey_collector_table 结束

    // 设置honey_ingredients_table
    $('#honey_ingredients_table tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input class="form-control" type="text" placeholder="Search ' + title + '" />');
    });

    var table = $('#honey_ingredients_table').DataTable()
    table.destroy()     // this is for redraw datatable

    var table = $('#honey_ingredients_table').DataTable({
        "scrollX":true,
        "autoWidth": false,
        "fixedColumns":  true,
        "retrieve":true,    // this is for redraw datatable
        "columnDefs": [
                        { width: "10%", targets: [0,1] },
                        {orderable: true,},
                        {defaultContent: "-",targets: "_all"},    // defaultContent is important
                        {
                            "targets": 0,
                            "data": 0,
                            "render": function ( data, type, full, meta ) {
                            return '<a href="'+data+'">'+data+'</a>';
                            }
                        }
                        ],     
        "dom":'Bfrtip',
        "paging": true,
        initComplete: function(){
            // 设置datatable的每一列的搜索功能
            this.api()
            .columns([1,2])
            .every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });

                var column = this;
                var select = $('<select class="form-control" placeholder="Search ' + this.value + '"><option value=""></option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex($(this).val());

                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                    });

                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
            });
            }, // end of initComplete
    });    // 设置honey_ingredients_table 结束

    // 设置honey_refgenome_table
    $('#honey_refgenome_table tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input class="form-control" type="text" placeholder="Search ' + title + '" />');
    });

    var table = $('#honey_refgenome_table').DataTable()
    table.destroy()     // this is for redraw datatable

    var table = $('#honey_refgenome_table').DataTable({
        "scrollX":true,
        "autoWidth": true,
        "fixedColumns":  true,
        "retrieve":true,    // this is for redraw datatable
        "columnDefs": [
                        { width: "10%", targets: [0,1] },
                        {orderable: true,},
                        {defaultContent: "-",targets: "_all"},    // defaultContent is important
                        {
                            "targets": 0,
                            "data": 0,
                            "render": function ( data, type, full, meta ) {
                            return '<a href="'+data+'">'+data+'</a>';
                            }
                        }
                        ],     
        "dom":'Bfrtip',
        "paging": true,
        initComplete: function(){
            // 设置datatable的每一列的搜索功能
            this.api()
            .columns([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
            .every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });

                var column = this;
                var select = $('<select class="form-control" placeholder="Search ' + this.value + '"><option value=""></option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex($(this).val());

                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                    });

                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
            });
            }, // end of initComplete
    });    // 设置honey_refgenome_table 结束

    // 设置honey_sample_table
    $('#honey_sample_table tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input class="form-control" type="text" placeholder="Search ' + title + '" />');
    });

    var table = $('#honey_sample_table').DataTable()
    table.destroy()     // this is for redraw datatable

    var table = $('#honey_sample_table').DataTable({
        "scrollX":true,
        "autoWidth": false,
        "fixedColumns":  true,
        "retrieve":true,    // this is for redraw datatable
        "columnDefs": [
                        { width: "10%", targets: [0,1] },
                        {orderable: true,},
                        {defaultContent: "-",targets: "_all"},    // defaultContent is important
                        {
                            "targets": 0,
                            "data": 0,
                            "render": function ( data, type, full, meta ) {
                            return '<a href="'+data+'">'+data+'</a>';
                            }
                        }
                        ],     
        "dom":'Bfrtip',
        "paging": true,
        initComplete: function(){
            // 设置datatable的每一列的搜索功能
            this.api()
            .columns([1,5,6])
            .every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });

                var column = this;
                var select = $('<select class="form-control" placeholder="Search ' + this.value + '"><option value=""></option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex($(this).val());

                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                    });

                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
            });
            }, // end of initComplete
    });    // 设置honey_sample_table 结束
</script>


{% endblock %}
