{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}




{% block extra_content %}
<div class='container'>  
    <div class="jumbotron">
    <h1 class="display-4">蜜蜂数据库</h1>
    <p class="lead">This is a simple description</p>
    <hr class="my-4">
    <p>Click data to enter admin and manage data</p>
    <a class="btn btn-primary btn-lg" href="{% url 'bee_data_combine'%}" role="button" data-toggle="tooltip" data-placement="bottom" title="将🐝单表录入的数据整合到总表">整合蜜蜂数据</a>
    <a class="btn btn-success btn-lg" href="{% url 'strain_data_combine'%}" role="button" data-toggle="tooltip" data-placement="bottom" title="将菌株单表录入的数据整合到总表">整合菌株数据</a>
  </div>
</div>
{%endblock extra_content%}